*{
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0 auto;
    width: 1000px;
}
#header{
    background-color: red;
    height: 100px;
}
#div1{
    background-color: yellow;
    height: 500px;
    width: 250px;
    float: left;
}
#div2{
    background-color: violet;
    height: 500px;
    width: 250px;
    float: left;
}
#div3{
    background-color: lightblue;
    height: 500px;
    width: 250px;
    float: left;
}
#div4{
    background-color: green;
    height: 500px;
    width: 250px;
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#inferior1{
    background-color: darkcyan;
    width: 500px;
    float: left;
    height: 300px;
}
#inferior2{
    background-color: black;
    width: 500px;
    float: left;
    height: 300px;
}
#footer{
    background-color: red;
    height: 50px;
}