*{
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0 auto;
    width: 1000px;
}
#header{
    background-color: red;
    height: 100px;
}
#div1{
    background-color: yellow;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}
#top{
    position: absolute;
    top: 30px;
    left: 20px;
}
#div2{
    background-color: violet;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}
#bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#div3{
    background-color: lightblue;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}
#right{
    position: absolute;
    right: 10px;
    top: 10px;
}
#div4{
    background-color: green;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}
#left{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#inferior1{
    background-color: darkcyan;
    width: 500px;
    float: left;
    height: 300px;
}
#inferior2{
    background-color: black;
    width: 500px;
    float: left;
    height: 300px;
}
#footer{
    background-color: red;
    height: 50px;
}